<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ page.title }} | Malan Lab</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/assets/style.css">
</head>

<body>

<header class="navbar">
  <div class="nav-container">

    <div class="logo">Malan Lab</div>

    <nav class="nav-links">
      <a href="/">Home</a>
      <a href="/#research">Research</a>
      <a href="/people">People</a>
      <a href="/publications">Publications</a>
      <a href="/join">Join Us</a>
    </nav>

  </div>
</header>

<main>
  {{ content }}
</main>

</body>
</html>
